.homepage {
    height: 2000px;
    width: 100vw;
}

.header {
    width: 100%;
    height: 75vh;
    position: relative;
}

.nav {
    height: var(--nav-height);
    padding: 0 40px;
    display: flex;
    align-items: center;
    z-index: 9999;
    position: absolute;
    top: 0;
    background-color: transparent;
    width: 100vw;
}

.navLogo {
    height: 50px;
    width: 200px;
    background-image: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/global/dota2_logo_horiz.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 40px;
    opacity: 0.8;
}

.navLogo:hover {
    opacity: 1;
}

.navMenu {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    position: relative;
}

.navItem {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    color: white;
    opacity: 0.8;
}

.navItem:hover {
    opacity: 1;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.gameDropdown {
    padding: 12px 20px;
    margin: 0px;
    border: 2px solid transparent;
    position: relative;
    transition-duration: 0.2s;
    backdrop-filter: blur(5px);
}

.dropdown:hover .gameDropdown {
    background-color: rgba(244, 244, 244, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown:hover .gameDropdownContent {
    visibility: visible;
    background-color: rgba(244, 244, 244, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.gameDropdownContent {
    border: 2px solid transparent;
    color: white;
    position: absolute;
    left: 0;
    top: 100%;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    padding: 8px 0;
    transition-duration: 0.2s;
    backdrop-filter: blur(5px);
    min-width: 200px;
}

.gameDropdownContentText {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 10px;
    margin-top: 5px;
    margin-bottom: 4px;
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 0.2s;
}

.gameDropdownContentText:hover {
    opacity: 1;
    transform: translateX(5px);
}

.dropdown:hover .gameDropdownContentText {
    opacity: 0.8;
} 

.languageWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.languageIcon {
    background-image: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//icons/language.svg');
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.dropdownArrow {
    width: 10px;
    height: 6px;
    margin-left: 5px;
}

.accountLanguage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ffffff90;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.navLogin {
    margin-bottom: 2px;
}

.navLogin:hover {
    color: white;
}

.navButton {
    display: flex;
    margin: 10px 0px 10px 20px;
    border: #ffffff50 3px solid;
    border-radius: 5px;
    align-items: center;
    padding: 15px 25px;
    gap: 12px;
    cursor: pointer;
    /* transition-duration: 0.2s; */
}

.navButton:hover {
    border-color: #ff6046;
    transform: translateY(-2px);
}

.navSteamLogo {
    width: 20px;
    height: 20px;
    background-image: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/steam_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;    
}

.navButtonText {
    color: white;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.videoContainer {
    width: 100%;
    height: 100%;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quoteContainer {
    position: absolute;
    top: 0;
    left: 10%;
    max-width: 60%;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.quoteText {
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
    font-weight: 600;
    text-shadow: 0px 0px 20px #000;
}

.quoteCredit {
    font-size: 2rem;
    text-transform: uppercase;
    color: #ffffff90;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
}

.verticalBar {
    background-color: #ff6046;
    width: 80px;
    height: 3px;
    border-radius: 1px;
}

.playButtonWrapper {
    width: 100%;
    height: 108px;
    position: relative;
}

.playButton {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 3px solid #ffffff90;
    box-shadow: 0px 0px 5px #000;
    border-radius: 6px;
    height: 78px;
    min-width: 288px;
    display: flex;
    align-items: center;
    transition-property: filter, transform, box-shadow;
    transition-timing-function: ease-in-out;
    transition-duration: .1s;
}

.playButton:hover {
    filter: brightness(1.3);
    transform: translateY(-2px);
    box-shadow: 0px 0px 15px #000;
}

.steamLogo {
    width: 48px;
    height: 48px;
    margin: 0px 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//icons/steam.svg');
}

.rightSide {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
}

.playforfree {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 3px #000;
}

.download {
    font-size: 1.5rem;
    color: #858585;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px #000;
}