.homepage {
    height: 2000px;
    width: 100vw;
}

.header {
    width: 100%;
    height: 75vh;
    position: relative;
    margin-bottom: -90px;
}

.nav {
    height: var(--nav-height);
    padding: 0 40px;
    display: flex;
    align-items: center;
    z-index: 9999;
    position: absolute;
    top: 0;
    background-color: transparent;
    width: 100vw;
}

.navLogo {
    height: 50px;
    width: 200px;
    background-image: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/global/dota2_logo_horiz.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 40px;
    opacity: 0.8;
}

.navLogo:hover {
    opacity: 1;
}

.navMenu {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    position: relative;
}

.navItem {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    color: white;
    opacity: 0.8;
}

.navItem:hover {
    opacity: 1;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.gameDropdown {
    padding: 12px 20px;
    margin: 0px;
    border: 2px solid transparent;
    position: relative;
    transition-duration: 0.2s;
    backdrop-filter: blur(5px);
}

.dropdown:hover .gameDropdown {
    background-color: rgba(244, 244, 244, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown:hover .gameDropdownContent {
    visibility: visible;
    background-color: rgba(244, 244, 244, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.gameDropdownContent {
    border: 2px solid transparent;
    color: white;
    position: absolute;
    left: 0;
    top: 100%;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    padding: 8px 0;
    transition-duration: 0.2s;
    backdrop-filter: blur(5px);
    min-width: 200px;
}

.gameDropdownContentText {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 10px;
    margin-top: 5px;
    margin-bottom: 4px;
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 0.2s;
}

.gameDropdownContentText:hover {
    opacity: 1;
    transform: translateX(5px);
}

.dropdown:hover .gameDropdownContentText {
    opacity: 0.8;
} 

.languageWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.languageIcon {
    background-image: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//icons/language.svg');
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.dropdownArrow {
    width: 10px;
    height: 6px;
    margin-left: 5px;
}

.accountLanguage {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ffffff90;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.navLogin {
    margin-bottom: 2px;
}

.navLogin:hover {
    color: white;
}

.navButton {
    display: flex;
    margin: 10px 0px 10px 20px;
    border: #ffffff50 3px solid;
    border-radius: 5px;
    align-items: center;
    padding: 15px 25px;
    gap: 12px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.navButton:hover {
    border-color: #ff6046;
    transform: translateY(-2px);
}

.navSteamLogo {
    width: 20px;
    height: 20px;
    background-image: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/steam_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;    
}

.navButtonText {
    color: white;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.videoContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.videoContainer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quoteContainer {
    position: absolute;
    top: 0;
    left: 10%;
    max-width: 60%;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.quoteText {
    font-size: 6rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 5px;
    font-weight: 600;
    text-shadow: 0px 0px 20px #000;
}

.quoteCredit {
    font-size: 2rem;
    text-transform: uppercase;
    color: #ffffff90;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
}

.verticalBar {
    background-color: #ff6046;
    width: 80px;
    height: 3px;
    border-radius: 1px;
}

.playButtonWrapper {
    width: 100%;
    height: 108px;
    position: relative;
}

.playButton {
    position: absolute;
    bottom: 0;
    left: 0;
    border: 3px solid #ffffff90;
    box-shadow: 0px 0px 5px #000;
    border-radius: 6px;
    height: 78px;
    min-width: 288px;
    display: flex;
    align-items: center;
    transition-property: filter, transform, box-shadow;
    transition-timing-function: ease-in-out;
    transition-duration: .1s;
    backdrop-filter: blur(5px);
}

.playButton:hover {
    filter: brightness(1.3);
    transform: translateY(-2px);
    box-shadow: 0px 0px 15px #000;
}

.steamLogo {
    width: 48px;
    height: 48px;
    margin: 0px 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//icons/steam.svg');
}

.rightSide {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
}

.playforfree {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 3px #000;
}

.download {
    font-size: 1.5rem;
    color: #858585;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px #000;
}

.bottomFade {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0.7)), color-stop(100%, black));
}

/* News Section*/
.news {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: -150px;
    position: relative;
    z-index: 100;
}

.newsWrapper {

}

.newsHeading {
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
    margin-bottom: 10px;
}

.latestNews {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;
    margin: 2px 20px 2px 0;
    font-size: 1.5rem;
}

.viewAll {
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    color: #d0d1d3;
    text-transform: uppercase;
    font-size: 1.5rem;
    cursor: pointer;
    transition-property: font-size, letter-spacing;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

.viewAll:hover {
    font-size: 1.6rem;
    letter-spacing: 4px;
}

.rightArrow {
    background-image: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//arrow_left.png');
    width: 20px;
    height: 20px;
    margin: 0px 8px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateY(180deg) translateY(1px);
}

.newsCapsules {
    display: flex;
    justify-content: space-between;
}

.blogCapsule {
    position: relative;
    display: block;
    width: 400px;
    height: 245px;
    margin: 15px;
    border-bottom: 2px solid #555;
    transition-property: transform box-shadow border-bottom;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
}

.blogCapsule:hover {
    /* z-index: 100; */
    transform: scale(1.02);
    box-shadow: 0px 0px 30px #000;
    border-bottom: 2px solid #ff6046;  
}

.blogCapsule::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background-color 0.2s ease-in-out;
}

.blogCapsule:hover::after {
    background-color: rgba(0,0,0,.7);
}

.capsuleContent {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.capsuleText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    z-index: 2;
    position: relative;
}

.capsuleDate {
    color: rgba(255, 255, 255, .7);
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-bottom: 8px;
}

.capsuleTitle {
    margin: 0px 10px 8px 20px;
    text-shadow: 0px 0px 10px #000;
    font-weight: bold;
    font-size: 2.4rem;
    color: #fff;
}

.capsuleDesc {
    height: 0;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, .7);
    margin-left: 20px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition-property: opacity transform height;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.blogCapsule:hover .capsuleDesc {
    height: 120px;
    opacity: 1;
    transform: translateY(0);
}

.battle {
    width: 100%;
    min-height: 764px;
    position: relative;
}

.fadeContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.fadeTop {
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.733) 90%, rgb(0, 0, 0) 100%);
}

.battleBG {
    width: 100%;
    height: 30vh;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
}

.battleImg {
    max-width: 100%;
    height: auto;
    opacity: 0.6;
    z-index: -1;
}

.battleText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battleHeaderText {
    text-align: center;
    margin-bottom: 20px;
}

.joinThe {
    color: #E2DACE90;
    font-size: 5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.ancient {
    font-size: 7rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #e2dace;
}

.battleBodyText {
    margin-top: 20px;
    color: #e2dace;
    text-align: center;
    font-size: 2.6rem;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.battleButton {
    display: flex;
    margin: 30px 30px 10px 30px;
    border: #ffffff50 3px solid;
    border-radius: 5px;
    align-items: center;
    padding: 15px 25px;
    transition-duration: 0.2s;
    text-transform: uppercase;
    font-size: 2rem;
    color: #e2dace;
}

.battleButton:hover {
    border-color: #ff6046;
    transform: translateY(-2px);
}